#drop-down-container {
    position: absolute;
    right: 0px;

    margin-top: 0;
    margin-bottom: 0;

    padding-right: 1vw;

}

#drop-down-trigger {
    text-align: center;
    font-size: 3em;
}

#contact-drop-down {
    display: block;

    height: 100vh;

    background-color: white;

    position: absolute;
    right: 0;

    margin-top: -1vh;

    border-bottom-left-radius: 5px;
}

#social-container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100%;
}

.social-link{
    text-decoration-style: dotted;
    text-decoration-color: grey;
}